<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<!--    <bean id="developer1" class="com.rahul.Developer" scope="prototype"/>-->
<!--    <bean id="developer1" class="com.rahul.Developer" scope="singleton" autowire="byName">-->
    <bean id="developer1" class="com.rahul.Developer" scope="singleton" autowire="byType">
<!--        Commenting below arguments as indexing is a great choice-->
<!--        <constructor-arg type="com.rahul.Laptop" ref="lap1"/>-->
<!--        <constructor-arg type="int" value="25"/>-->

        <!--    Used ref variable first to highlight the use of index    -->
<!--        <constructor-arg index="1" ref="lap1"/>-->
<!--        <constructor-arg index="0" value="25"/>-->

        <!-- Directly using name -->
<!--        <constructor-arg name="lap" ref="lap1"/>-->
<!--        <constructor-arg name="age" value="25"/>-->

        <property name="age" value="29"/>
        <property name="com" ref="com2"/>
<!--        <property name="lap" ref="lap1"/>-->

    </bean> <!-- by default it will be singleton even if we don't mention -->
<!--    <bean id="developer2" class="com.rahul.Developer"/>-->
<!--    <bean id="lap1" class="com.rahul.Laptop"/>-->
<!--    <bean id="com" class="com.rahul.Desktop"/>-->
<!--    <bean id="com" class="com.rahul.Laptop"/>-->
    <bean class="com.rahul.Desktop" lazy-init="true"/>
<!--    <bean id="com1" class="com.rahul.Desktop" lazy-init="true"/>-->
    <bean id="com2" class="com.rahul.Laptop" primary="true"/>

</beans>